directory = ~/Downloads
session = ~/.rtorrent.session

schedule = watch_directory,5,5,load_start=~/Downloads/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=

check_hash = yes

min_peers = 50
max_peers = 100

min_peers_seed = 10
max_peers_seed = 10

max_uploads = 4

download_rate = 2000
upload_rate = 200

port_range = 49164-49164

encryption = require,require_RC4,allow_incoming,try_outgoing

dht = disable
dht_port = 6881
peer_exchange = yes
