[Unit]
Description=Lock screen on sleep
Before=sleep.target

[Service]
User=leroy
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/leroy/.i3/i3lock-multimonitor/lock

[Install]
WantedBy=sleep.target
